h1 = result

p This achievement is called #{result["title"]}.
p This achievements id is #{result["AchievementId"]}.
p The game that this achievement is part of, is called #{result2["title"]}.

-if result["hidden_attribute"] == 0
    p This is a SECRET achievement!